@model IEnumerable<EventSphereApp.Models.UsersModel>

@{
    ViewData["Title"] = "Users";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="main-container" style="width: 900px;">

    <div class="main-container-info">

        <h5>REMOVE USERS</h5>

        @if (Model != null && Model.Any())
        {

            <table>

                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Remove User</th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@(item.PasswordHash.Length > 10 ? item.PasswordHash.Substring(0, 10) + "..." : item.PasswordHash)</td>
                        <td class="button-row">
                            <button onclick="confirmDelete('@item.Id')">REMOVE</button>
                        </td>      
                    </tr>

                }

            </table>

        } 
        else{
            <p>NO USERS FOUND</p>
        }

    </div>
</div>

@if (TempData["Success"] != null)
{
    //<div class="result-popup alert alert-success"><strong>@TempData["Success"]</strong></div>

    <div class="pop-up-container">

        <div class="pop-up">
            <i class="pop-up-icon fa-regular fa-4x fa-circle-check"></i><br>
            <strong>@TempData["Success"]</strong>
        </div>

    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<script>
    function confirmDelete(userId) {
        if (confirm("Are you sure you want to delete this user?")) {
            window.location.href = "/Users/Delete/" + userId;
        }
    }
</script>

<script src="https://kit.fontawesome.com/d41551dbdd.js" crossorigin="anonymous"></script>
